#chat {
    height: 100%;
}

#chat ion-col {
    padding: 0 !important;
}

#chat ion-row {
    margin-top: 15px;
}

#chat ion-avatar {
    margin-top: 2px;
    margin-bottom: 22px;
    margin-right: 4px;
}

#chat ion-avatar img {
    min-height: 40px !important;
    min-width: 40px !important;
}

#chat ion-list {
    padding: 0 !important;
}

#chat #chat-content {
    background: rgb(41, 41, 41);
    height: 100%;
}

#chat ion-grid {
    background: rgb(41, 41, 41);
    overflow-y: auto;
}

#chat ion-item::part(native) {
    background: rgb(41, 41, 41);
}

#chat .item-inner {
    border: 0;
}

#chat ion-list {
    height: 100%;
}

#chat ion-list-header {
    padding-left: 0;
    position: absolute;
    top: 0;
}

#chat ion-footer {
    position: absolute;
    bottom: 0;
}

#chat .bubble {
    border: 1px solid;
    border-radius: 5px;
    min-height: 40px;
}

#chat .bubble.primary {
    background-color: #3880ff;
    border-color: #3880ff;
    margin-left: 12px;
}

#chat .bubble.success {
    background-color: #2dd36f;
    border-color: #2dd36f;
}

#chat .slotted-fix {
    margin-inline-start: 12px !important;
}

#chat .bubble p {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
}

#chat .talk {
    display: flex;
}

#chat .talk-content {
    flex: 4;
    background-color: rgb(41, 41, 41);
    margin: 10px 12px;
}

#chat .talk-content input {
    padding-left: 6px;
}

#chat .talk-btn {
    flex: 1;
    align-self: center;
    padding-right: 12px;
}

#chat .remove_inner_bottom {
    --inner-border-width: 0;
    margin-top: 8px;
}

#chat ion-button {
    height: 2.4em;
}


#chat ion-img::part(image) {
    border-radius: 5px !important;
}

#chat small {
    display: flex;
}

#msg-box input::placeholder {
    font-style: italic;
}